body {
    background-color: rgb(52, 52, 52);
    color: white;
}

div,
.main {
    margin: auto;
    width: 1000px;
}
.controls {
    text-align: center;
}
.comments-micro {
    position: relative;
    height: 50px;
}

#playButton {
    height:50px;
    width: 50px;
    border: none;
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
    outline:none;
}
.play{background: url('../img/play.png');}
.pause{background: url('../img/pause.png');}
.stop{background: url('../img/stop.png');}