<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Employee</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <!-- Personal information table -->
        <p>Personal information: </p>
        <table>
            <tbody>
            <tr>
                <td> ID </td>
                <td><span th:text="${employee.emp_no}"> ID </span></td>
            </tr>
            <tr>
                <td> Name </td>
                <td><span th:text="${employee.first_name}"> Name </span></td>
            </tr>
            <tr>
                <td> Surname </td>
                <td><span th:text="${employee.last_name}"> Surname </span></td>
            </tr>
            <tr>
                <td> Gender </td>
                <td><span th:text="${employee.gender}"> Gender </span></td>
            </tr>
            <tr>
                <td> Birth Date </td>
                <td><span th:text="${employee.birth_date}"> Birth Date </span></td>
            </tr>
            <tr>
                <td> Hire Date </td>
                <td><span th:text="${employee.hire_date}"> Hire Date </span></td>
            </tr>
            </tbody>
        </table>
        <!-- Titles table -->
        <table>
            <thead>
            <tr>
                <th> Title </th>
                <th> From </th>
                <th> To </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${titles.empty}">
                <td colspan="3"> No Titles Available </td>
            </tr>
            <tr th:each="t : ${titles}">
                <td><span th:text="${t.title}"> ID </span></td>
                <td><span th:text="${t.from_date}"> From </span></td>
                <td><span th:text="${t.to_date}"> To </span></td>
            </tr>
            </tbody>
        </table>
        <!-- Salaries table -->
        <table>
            <thead>
            <tr>
                <th> Salary </th>
                <th> From </th>
                <th> To </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${salaries.empty}">
                <td colspan="3"> No salaries Available </td>
            </tr>
            <tr th:each="s : ${salaries}">
                <td><span th:text="${s.salary}"> Amount </span></td>
                <td><span th:text="${s.from_date}"> From </span></td>
                <td><span th:text="${s.to_date}"> To </span></td>
            </tr>
            </tbody>
        </table>
        <!-- Department table -->
        <table>
            <thead>
            <tr>
                <th> Department </th>
                <th> From </th>
                <th> To </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${departments.empty}">
                <td colspan="3"> No Departments Available </td>
            </tr>
            <tr th:each="dept : ${departments}">
                <td><span th:text="${dept.department.dept_name}"> Name </span></td>
                <td><span th:text="${dept.from_date}"> From date </span></td>
                <td><span th:text="${dept.to_date}"> To date </span></td>
            </tr>
            </tbody>
        </table>
        <p>
            <form>
                <input type="button" value="Go back!" onclick="history.back()">
            </form>
        </p>
    </body>
</html>