<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Employees list</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <table>
            <thead>
            <tr>
                <th> ID </th>
                <th> Name </th>
                <th> Surname </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${employees.empty}">
                <td colspan="3"> No Employees Available </td>
            </tr>
            <tr th:each="employee : ${employees}">
                <td><a th:href="@{/employee(id=${employee.emp_no})}"><span th:text="${employee.emp_no}"> ID </span></a></td>
                <td><span th:text="${employee.first_name}"> Name </span></td>
                <td><span th:text="${employee.last_name}"> Surname </span></td>
            </tr>
            </tbody>
        </table>
        <p>
            <input type="button" value="<- Previous page" th:if="${page != 0}" th:onclick="'window.location.href=\'/list?page=' + ${page - 1} + '\''">
            <input type="button" value="Next page ->" th:onclick="'window.location.href=\'/list?page=' + ${page + 1} + '\''">
        </p>
    </body>
</html>